{% load static %}

<head>
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.staticfile.org/cropperjs/1.5.12/cropper.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/cropperjs/1.5.12/cropper.min.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="icon" href="/static/image/map/grass.png">
    <title>Fighting With Ball</title>
</head>

<body style="margin: 0">
    <div id="game"></div>
    <script type="module">
        import {AcGame} from "{% static 'js/dist/game.js' %}";
        $(document).ready(function(){
            let game = new AcGame("game");
        });
    </script>
</body>
